:root  > * {
    --md-primary-fg-color:        #306998;
    --md-primary-fg-color--light: #306998;
    --md-primary-fg-color--dark:  #5a9fd4;

    --md-typeset-a-color: #306998;
    --md-accent-fg-color: #5a9fd4;

    --md-accent-fg-color--transparent: #5a9fd41a;
  }
  
body {
    overflow-x: hidden !important;
  }
